<!DOCTYPE html>
<html>
<head>
    <title>Visit Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">
    <h1>Visit Form</h1>
    <form method="post" th:object="${visit}" th:action="@{/visitas}">
        <div class="input-field">
            <input type="text" th:field="*{local}" placeholder="Local" required/>
            <label for="local">Local</label>
        </div>
        <div class="input-field">
            <input type="text" th:field="*{dniAfiliado}" placeholder="DNI Afiliado" required/>
            <label for="dniAfiliado">DNI Afiliado</label>
        </div>
        <div class="input-field">
            <input type="date" th:field="*{fecha}" required/>
            <label for="fecha">Fecha</label>
        </div>
        <div class="input-field">
            <input type="time" th:field="*{hora}" required/>
            <label for="hora">Hora</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Save</button>
    </form>
    <p class="red-text" th:text="${errorMessage}"></p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
